<!DOCTYPE html>

<html ng-app="ngApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - AngularJS Routing Stateful</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/Dashboard/Controllers/dashboardController.js"></script>
    <script src="~/App/Dashboard/Controllers/kpiAccountActivityController.js"></script>
    <script src="~/App/Dashboard/Controllers/kpiActiveAgentsController.js"></script>
    <script src="~/App/Dashboard/Controllers/kpiLiveStatsController.js"></script>
    <script src="~/App/Dashboard/Controllers/taskQueueController.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
